# Ігнорування виконуваних файлів, незалежно від регістру
**/*.exe
**/*.EXE

# Ігнорування об'єктних файлів, незалежно від регістру
**/*.obj
**/*.OBJ

# Ігнорування файлів карти, незалежно від регістру
**/*.map
**/*.MAP
